@model IEnumerable<SportsPro.Domain.Registration>

@{
    ViewData["Title"] = "Registration Manager";
}

<h3><i class="fas fa-paste"></i> Registration Manager</h3>
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    <a class="edit-btn" asp-action="Edit" asp-route-id="@item.RegistrationID">Edit</a> 
                    
                    <a class="delete-btn" asp-action="Delete" asp-route-id="@item.RegistrationID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="create-btn" asp-action="Create">Add Registration</a>
</p>